{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/padclients.css' %}">
    <title>Pads Clients</title>
</head>
<body>
    
    <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send"> -->

    <div id="pad_container">

    </div>
    <div id="init_container">
        <label >Cliquez sur le bouton pour attendre l'arrivée des joueurs</label>
    </div>

   
    <input class="all" id="start_btn" type="button" value="Démarrer">

    <div class="form hidden">
         
         <form id="question_type_form">
            <label for="qcm">QCM</label>
            <input type="radio" name="question_type" id="qcm" value="QCM" checked>
            <label for="quick">Rapidité</label>
            <input type="radio" name="question_type" id="quick" value="QUICK">
         </form>

    </div>
    <input class="game hidden" id="new_question_btn" type="button" value="Nouvelle question">
   

    <script src={% static 'js/jquery-3.6.0.js' %}></script>
    <script src={% static 'js/padclients.js' %}></script>
</body>
</html>