{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap/bootstrap.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'css/padclients.css' %}" />
    <script src="{% static 'js/jquery/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/padclients.js' %}"></script>
    <title>Pads Clients</title>
  </head>

  <body>
    <header>
      <div>
        <h2>Buzzi WIFI Multigame</h2>
      </div>
    </header>
    <main>
        <div id="start_text" class="center_text">Cliquez ici pour attendre les joueurs.</div>
        <div class="hidden center_text" id="waiting_players">
          <div class="loader"></div>
          <div id="loader_text">Attente des joueurs ...</div>
        </div>
        <div id="btn_start_container" class="center_text ">
            <input type="button" id="start_btn" class="btn btn-primary" value="Démarrer"></input>
        </div>


      <div id="players_container" class="hidden">

      </div>
    </main>
  </body>
</html>
