{%load static%}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bumpers.css' %}" />
    <title>Bumpers</title>
  </head>
  <body>
    <h1>Bumpers</h1>
    <ul>
      {% for i in players %}

      <li>{{i}}</li>

      {% endfor %}

    </ul>
    <div>
        <a href="/reset">reset</a>
    </div>
    <scriptsrc="{% static 'js/bootstrap.min.js'%}"> </script>
    <scriptsrc="{% static 'js/bumpers.js'%}">  </script>
  </body>
</html>
