:root {

    --main-color: #e61b73;
    --main-color-dark: #ce0073;
    --main-color-darker: #891f71;
    --main-color-darkest: #44245f;
    --main-font-color: #aaa;
    --main-font-color-darker: #222;
    --main-font-color-lighter: #ccc;
    --main-font: 'Open sans', Helvetica, Arial, sans-serif;
    /* Open sans (google font en ligne), sinon Trebuchet, Arial, ou sans-serif*/
    --main-font-size: 1.2rem;
    --main-font-line-height: 1.4rem;
    --main-font-weight: 400;
    /** Header **/
    --header-bg-color: #fff;
    --header-height: 6rem;
    /* 6rem=60px */
    /** Logo **/
    --logo-height: 4rem;
    /* 4rem=40px */
    --logo-color: url(#grad);
    /* var(--main-color) || url(#gradient)=> Dégradé avec couleurs principales */
    --logo-color-black: #222;
    /** Contenu principale **/
    --content-min-width: 29rem;
    /* 290px*/
    --content-bg-color: #fafafa;
    /** Controle & Pilotage **/
    --gauge-thickness: 0.2;
    --gauge-fg-color: var(--main-color);
    --gauge-bg-color: #ddd;
    /** Barre de Scroll **/
    --scroll-color: #fff;
    --scroll-color-thumb: #222;
    --scroll-color-track: #ddd;
}

/* reset */
* {
    margin: 0;
    padding: 0;

}


header {
    margin: 0;
    width: 100vw;
    min-width: var(--content-min-width);
    /* position: fixed; */
    z-index: 99;
    top: 0;
    background-color: var(--header-bg-color);
    /* min-height: var(--header-height); */
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.11), 0 0px 6px 0 rgba(0, 0, 0, 0.16);
}

header div {
    color: purple;
    padding: 1rem;
    text-align: center;

}

body {

    color: white;
    height: 100vh;
    background: linear-gradient(to right, var(--main-color-darker), var(--main-color));
    background-repeat: no-repeat;

}

.hidden {
    display: none;
}
.hide{
    visibility: hidden;
}

.center_text {
    text-align: center;
}

.form {
    margin-left: .6rem;
    margin-right: .6rem;
}
.start_reset{
    margin-left: .6rem;
    margin-right: .6rem;
}
#btn_start_container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 1rem;
}

#start_container #start_text {
    margin-bottom: 1rem;
}

#players_container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.player_name{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.player_color{
    border-radius: .3rem;
}

.audio_container{
    display: flex;
}
.player_play{
    background-color: white;
}
/* Animation */
#loader_text {
    margin: 2rem;
}

#waiting_players {
    margin-top: 1rem;
}

.loader {
    border: solid .4rem var(--main-color-darker);
    border-radius: 50%;
    border-top: solid .4rem var(--content-bg-color);
    border-bottom: solid .4rem var(--content-bg-color);
    margin: auto;
    width: 4rem;
    height: 4rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Buzzers */
audio {
    width: 150px;
    height: 20px;
}

.box-Buzzer {

    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    width: 60vw;
    padding: 1rem;
    margin-top: .6rem;
}

.box-Buzzer h2 {
    color: #f2184f;
}


.box-Buzzer input[type='submit'] {
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    background-color: #0098d8;
    /* padding: 10px 20px; */
    cursor: pointer;
    border-radius: 5px;
}

.score {
    font-size: 16px;
    letter-spacing: 1px;
    color: #FFF;
}
.good_answer{
    background-color: green;
}

.bad_answer{
    background-color: red;
}