:root {
    --main-color: #017dc6;
    --main-color-dark: #017dc6;
    --main-color-darker: #052233;
    --main-color-darkest: #44245f;
    --main-font-color: #aaa;
    --main-font-color-darker: #222;
    --main-font-color-lighter: #ccc;
    --main-font: 'Open sans', Helvetica, Arial, sans-serif;
    --main-font-size: 1.2rem;
    --main-font-line-height: 1.4rem;
    --main-font-weight: 400;
    --header-bg-color: #fff;
    --header-height: 6rem;
    --logo-height: 4rem;
    --logo-color: url(#grad);
    --logo-color-black: #222;
    --content-min-width: 29rem;
    --content-bg-color: #fafafa;
    --gauge-thickness: 0.2;
    --gauge-fg-color: var(--main-color);
    --gauge-bg-color: #ddd;
    --scroll-color: #fff;
    --scroll-color-thumb: #222;
    --scroll-color-track: #ddd;
}

.form-group {
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

#questionType {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    max-width: 300px;
    margin: auto;
    padding: .5rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#questionType:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.form-group > label {
    display: block;
    text-align: center;
    margin-bottom: .5rem;
    font-size: 1rem;
}

#answerChoices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#answerChoices label {
    display: flex;
    margin-right: 10px;
    white-space: nowrap;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    z-index: 99;
    top: 0;
    background-color: var(--header-bg-color);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.11), 0 0px 6px 0 rgba(0, 0, 0, 0.16);
}

header div {
    color: purple;
    padding: 1rem;
    text-align: center;
}

body {
    color: white;
    height: 100vh;
    background: linear-gradient(to right, var(--main-color-darker), var(--main-color));
}

.center_text {
    text-align: center;
}

.start_reset {
    margin: .6rem;
}

#btn_start_container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.modal-content {
    background: linear-gradient(to right, var(--main-color-darker), var(--main-color));
}

#players_container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.loader {
    border: solid .4rem var(--main-color-darker);
    border-radius: 50%;
    border-top: solid .4rem var(--content-bg-color);
    border-bottom: solid .4rem var(--content-bg-color);
    margin: auto;
    width: 4rem;
    height: 4rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Modifications et Ajouts pour les boutons et l'espacement */
.btn-info {
    background-color: var(--main-color);
    border-color: var(--main-color-dark);
}

.btn-info:hover {
    background-color: var(--main-color-dark);
}

.btn-primary {
    background-color: var(--main-color-darker);
    border-color: var(--main-color-darkest);
}

.btn-primary:hover {
    background-color: var(--main-color-darkest);
}

.mx-1 {
    margin-left: 0.25rem !important;
   
